Django==4.2.2
djangorestframework==3.16.1
python-dotenv==1.1.1
psycopg2-binary==2.9.10
black==25.1.0
flake8==7.2.0
isort==6.0.1
pillow==11.3.0
djangorestframework_simplejwt==5.5.1
coverage==7.10.6
drf-yasg==1.21.10
